@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:200&display=swap');
@media(min-width: 451px) {
    html, body{
        height:  7700px;
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        background-color: black;
    }
}
@media(max-width: 450px) {
    html, body{
        width: 100vw;
        height:  6750px;
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        background-color: black;
    }
    #root {
        overflow: hidden;
    }
}
