@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:200&display=swap');
html, body{
    height:  7960px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: #efefef;
}