.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 53%;
    height: 7%;
    border-bottom: 1.5px white solid;
    z-index: 5000;
    margin: 0 23%;
    // align-items: center ;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.3em;
}

.logo {
    position: relative;
    bottom: -6%;
    width: 142px;
    z-index: 5000;
}

.menu-container {
    position: relative;
    width: 90%;
    top: 27%;
}

.menu-search, .menu-login, .menu-shop {
    position: absolute;
    bottom: 21%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.menu-search {
    right: 7%;
    background: url('../images/menu-search.png') no-repeat;
}
.menu-login {
    right: 3.2%;
    background: url('../images/menu-login.png') no-repeat;
}
.menu-shop {
    right: 0%;
    background: url('../images/menu-shop.png') no-repeat;
}

.menu-livingRoom, 
.menu-diningRoom, .menu-bedroom, .menu-carpet, .menu-external {
    position: absolute;
    bottom: 36%;
    color: white;
    font-size: .65em;
    cursor: pointer;
}
.menu-buyEnvironments, .menu-branch, 
.menu-loyalty {
    position: relative;
    bottom: 23%;
    color: white;
    font-size: .65em;
    margin: 15px;
    cursor: pointer;
}

// .menu-buyEnvironments {
//     left: 0%;
// }
// .menu-branch {
//     left: 26%;
// }
// .menu-loyalty {
//     left: 32%;
// }
.menu-livingRoom {
    bottom: -50%;
}
.menu-diningRoom {
    left: 7%;
    bottom: -50%;
}
.menu-bedroom {
    left: 16%;
    bottom: -50%;
}
.menu-carpet {
    left: 26%;
    bottom: -50%;
}
.menu-external {
    left: 34%;
    bottom: -50%;
}
