.menu {
    position: fixed;
    display: flex;
    width: 53%;
    height: 7%;
    border-bottom: 1.5px white solid;
    z-index: 5000;
    margin: 0 23%;
    align-items: center ;

    
}

.logo {
    position: absolute;
    width: 15%;
    z-index: 5000;
}

.search {
    position: absolute;
    right: 7%;
    width: 20px;
    height: 20px;
    background: url('../images/menu-search.png') no-repeat;
}
.login {
    position: absolute;
    right: 3.2%;
    width: 20px;
    height: 20px;
    background: url('../images/menu-login.png') no-repeat;
}
.shop {
    position: absolute;
    right: 0%;
    width: 20px;
    height: 20px;
    background: url('../images/menu-shop.png') no-repeat;
}