.bg7 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 795px;
    background: black;
    & > .row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    & > .row > .column {                    // Text        
        margin: 0px 50px 0px 0px;
        width: 400px;
    }
    & > .row > .column > h1 {           //Title
        position: relative;
        top: -40px;
        font-family: 'Noto Serif JP', serif;   
        color: white;
        cursor: default;
    }
    & > .row > .column > p {            //Parraf
        color: white;
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 1.3em;
        line-height: 35px;
        cursor: default;
    }
    & > .row > .column > button {
        position: relative;
        bottom: -9.5%;
        left: 36%;
        width: 210px;
        font-size: 1.1em;
        letter-spacing: 1.2px;
        padding: 8px 25px 10px 20px;
        border: 1px solid white;
        text-align: center;
        margin: 15px;
        color: white;
        font-family: 'Darker Grotesque', sans-serif;
        background: url('../images/flecha.svg') no-repeat;
        background-size: 3.5%;
        background-position: 90% 52%;
        cursor: pointer;
    }
}